*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

a {
    text-decoration: none;
    list-style: none;
}

html,
body {
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
    margin: 0;
}

img {
    display: block;
}

li {
    list-style: none;
}